*{
    margin: 0px;
    padding: 0px;
}
h2{
    width: 500px;
    color: white;
    font-size: 30px;
    background-color: #333;
    text-align: center;
    padding: 20px;
    margin: auto;
     
}

p{
     width: 500px;
    color: white;
    background-color:dimgrey;
    text-align: center;
    padding: 20px;
    margin: auto;
    display: none;
}
